<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
   
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a  href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <form class="form" action="/contact" method="post">
        <label>Name</label>
        <input type="text" name="username">
        <br><br>
        <label >Email</label>
        <input type="email" name="email">
        <br><br>
        <button type="submit">Contact</button>
    </form>
    
</body>
</html>